.navbar-brand {
  margin-left: 20px;
  font-size: 50px;
  margin-top: -40px;
}

.navbar{
  background-color: #FFFFFF;
  margin-bottom: 20px;
  height: 85px;
  
}
.format{
  margin-top: 10px;
}
/* .create-button{
  margin-left: 10px;
} */
.create-button{
  margin-right: 10px;
}