.navbar-brand {
  margin-left: 20px;
  font-size: 45px;
  margin-top: -40px;
  font-family: "Ribeye Marrow", cursive;
}

.navbar {
  background-color: rgb(219, 214, 168);
  margin-bottom: 20px;
  height: 85px;
}
.format {
  margin-top: 10px;
}

.create-button {
  margin-right: 10px;
}
