.navbar-brand {
  margin-left: 20px;
<<<<<<< HEAD
  font-size: 50px;
  margin-top: -40px;
  font-family: 'Special Elite', cursive;

=======
  font-size: 45px;
  /* margin-top: -0px; */
  font-family: "Ribeye Marrow", cursive;
>>>>>>> main
}

.navbar {
  background-color: rgb(219, 214, 168);
  margin-bottom: 20px;
  height: 85px;
}
.format-nav-bar {
  margin-top: -30px;
  margin-right: -90px;
}

.create-button {
  margin-right: 10px;
}
<<<<<<< HEAD

=======
>>>>>>> main
