img.detail {
  height: 120px;
  width: 120px;
}
.list-overflow-container{
  margin-bottom: -80px;
  border: none;
}

form {
  margin-bottom: 80px;
  padding-top: 20px
}
.list-group-item{
  text-transform: capitalize;
}

.delete-button{
  float: right;
  border: none;
  background-color: white;
}

.hero {
  border: 4px solid khaki;
}